html {
    box-sizing:border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}


nav {
    border-bottom: 1px solid #828282;
}

.container{
    max-width: 944px;
    margin: 0 auto;
    text-align: center;
}
.container-nav-list {
    padding-left: 0px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 36px;
}

a {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.RU-ENG {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 16px ;
    width: 83px;
    padding-top: 63px;
    margin-top: 26px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    margin-bottom: 0px;
}

.section-home {
    padding-bottom: 100px;
}

.section-about {
    background: #f6f6f6;
    padding-top: 87px;
    padding-bottom: 93px;
}

.section-skill {
    padding-top: 56px;
    padding-bottom: 110px;
    padding-left: 4px;
}

.section-portfolio {
    background: #f6f6f6;
    padding-top: 80px;
    padding-bottom: 25px;
    padding-left: 7px;
}

.section-portfolio .h2 {
    margin-bottom: 56px;
}

.section-contacts .p-text {
    font-family:'Gilroy-Medium', sans-serif;
    font-size: 14px;
    color: #828282;
    padding-top: 24px;
    padding-left: 8px;
}

.section-portfolio .h3 {
    padding-left: 5px;
    margin-top: 38.5px;
    margin-bottom: 103px;
    font-family:'Gilroy-Medium', sans-serif;
    font-size: 18px;
    text-decoration: underline;
}
.section-contacts {
    padding-top: 52px;
    padding-bottom: 123px;
}

.container-home-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

.container-skill-photo {
    display: flex;
    align-items: flex-end;
    margin-top: 88px;
    padding-left: 42px;
    grid-gap: 167px;
}

.container-skill-stars .br-la {
    font-family:'Gilroy-Bold', sans-serif;
    font-size: 14px;
    font-weight: bolder;
    color: #828282;
    height: 42px;
}

p {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 18px ;
    line-height: 21px;
}

.container-skill-stars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 71px;
}

.section-skill .h2 {
    padding-bottom: 41px;
}

.button {
    background: #000;
    font-family:'Gilroy-Bold', sans-serif;
    font-size: 17.5px;
    font-weight: bolder;
    color: #fff;
    padding: 11px 28px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 67px;
    border: 1px solid #070707;
    cursor: pointer;
}

.container-images {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    width: 342px;
    height: 41px;
    margin: auto;
    margin-top: 18px;
}

h1{
    font:47px "Gilroy-Bold", sans-serif;
    font-weight: bolder;
    line-height: 58px;
}

h2 {
    font-family:'Gilroy-Bold', sans-serif;
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.container-stars {
    justify-content: space-between;
    display: flex;
    margin-top: 33px;
}

.item {
    flex: 1 1 auto;
    margin: 0 6px;
}

.container-home-text .phome {
    padding-top: 49px;
    width: 194px;
    padding-left: 27px;
}

.container-about-p {
    width: 484px;
    margin: auto;
}

.test123 {
    width: 166px;
    height: 206px;
}

img {
    max-width: 100%;
}

.a-p-first {
    padding-top: 7px;
}
.a-p-second {
    padding-top: 27px;
}
.a-p-third {
    padding-top: 27px;
}