header {
    border-bottom: 1px solid #828282;
}

body {
    margin-left: 250.69px;
    margin-right: 250.69px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #000;
}

.self {
    padding-top: 40px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.container-home {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container-skill {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about {
    background: #F6F6F6;
    text-align: center;
}

.skill {
    text-align: center;
}

.portfolio {
    background: #F6F6F6;
    text-align: center;
}

.contacts {
    text-align: center;
}

.button {
    background: #000;
    color: #fff;
    padding: 17px 40px;
    border-radius: 56%;
    -webkit-border-radius: 56%;
    -moz-border-radius: 56%;
    -ms-border-radius: 56%;
    -o-border-radius: 56%;
}