nav {
    border-bottom: 1px solid #828282;
}

.container{
    max-width: 941px;
    margin: auto;
    text-align: center;
}
.container-nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #000;
}

.RU-ENG {
    margin-top: 40px;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
/*
.section:nth-child(2n) {
    background: #f6f6f6;
}
*/
.section-home {
    padding-bottom: 100px;
}

.section-about {
    background: #f6f6f6;
    padding-top: 120px;
    padding-bottom: 100px;
}

.section-skill {
    padding-top: 91px;
    padding-bottom: 110px;
}

.section-portfolio {
    background: #f6f6f6;
    padding-top: 80px;
    padding-bottom: 1px;
}

.section-portfolio .h2 {
    margin-bottom: 47px;
}

.section-contacts .p-text {
    font:14px ‘Gilroy-Medium’, Arial, Helvetica, sans-serif;
    color: #828282;
}

.section-portfolio .h3 {
    margin-top: 44px;
    margin-bottom: 90px;
    font:18px ‘Gilroy-Medium’, Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
.section-contacts {
    padding-top: 115px;
    padding-bottom: 123px;
}

.container-home-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 94px;
    margin-bottom: 49px;
}

.container-skill-photo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 83px;
    padding-left: 42px;
    padding-right: 55px;
}

.container-skill-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 23px;
    padding-left: 42px;
    padding-right: 55px;

    font:14px ‘Gilroy-Bold’, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #828282;
}

.container-skill-stars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 40px;
}

.section-skill .h2 {
    padding-bottom: 69px;
}


.button {
    background: #000;
    font:18px ‘Gilroy-Bold’, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    padding: 15px 42px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 65px;
    border: 1px solid #070707;
}

.container-images {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    padding-left: 300px;
    padding-right: 300px;
}

p {
    font:18px ‘Gilroy-Medium’, Arial, Helvetica, sans-serif;
}

h2 {
    font:34px ‘Gilroy-Bold’, Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.container-stars {
    justify-content: space-between;
    display: flex;
}

.item {
    flex: 1 1 auto;
    margin: 0 6px;
}
